body {
  padding-top: 50px;
}
.deletebtn{
  background-image: -webkit-linear-gradient(#f62b2b, #d20202 60%, #c10101);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), color-stop(60%, #d20202), to(#c10101));
  background-image: linear-gradient(#f62b2b, #d20202 60%, #c10101);
  background-repeat: no-repeat;
  border-bottom: 1px solid #ad0101;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  color: #ffffff;
  background-color: #c10101;
  border-color: #c10101;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid transparent;
}
.deletebtn:hover{
  text-decoration: none;
  color: #ffffff;
  border-color: #9b0000;
}
.deletebtn:active{
  color: #ffffff;
  background-color: #aa0101;
  border-color: #9a0000;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.gtitle{
  font-weight: bold;
  font-size: 18px;
  display: inline;
  margin: 0;
}
#gcreator{
  display: inline;
  font-size: 14px;
}
.gdesc{
  display: inline;
  font-style: italic;
  font-size: 16px;
}

.ftitle{
  font-weight: bold;
  font-size: 18px;
  display: inline;
  margin: 0;
}
.fdesc{
  display: inline;
  font-style: italic;
  font-size: 16px;
}
.deletep{
  display: inline;
}
.deletelink{
  color: red;
}
.error{
  color: red;
  font-weight: bold;
}
.file{
  max-width: 300px;
  min-width: 300px;
}